.blog-container {
    padding: 40px 20px;
    text-align: center;
    background-image: url('../assets/images/mountain-1.jpg');
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
  }
  
  .blog-background {
    background-color: rgba(246, 249, 252, 0.932); /* White background with some transparency */
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .blog-title {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
  
  .posts-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .post-title {
    font-size: 1.75rem;
    color: #007BFF;
  }
  
  .post-description {
    font-size: 1.2rem;
    color: #555;
  }
  
  .post-link {
    text-decoration: none;
    color: #007BFF;
  }
  
  .post-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .blog-title {
        font-size: 2rem; /* Responsive font size */
    }

    .post-title {
        font-size: 1.5rem; /* Responsive font size */
    }

    .post-description {
        font-size: 0.9rem; /* Responsive font size */
    }
}

@media (max-width: 480px) {
    .blog-title {
        font-size: 1.8rem; /* Smaller font for very small screens */
    }

    .post-title {
        font-size: 1.3rem; /* Smaller font for very small screens */
    }

    .post-description {
        font-size: 0.85rem; /* Smaller font for very small screens */
    }
}